PromptShields.MacOS.MainApp/Resources/Const.swift
PromptShields.MacOS.MainApp/Resources/GoogleService-Info.plist
PromptShields.MacOS.MainApp.xcodeproj/project.pbxproj
PromptShields.MacOS.MainApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PromptShields.MacOS.MainApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
PromptShields.MacOS.MainApp.xcodeproj/project.xcworkspace/xcuserdata/gabrielsabiescu.xcuserdatad/UserInterfaceState.xcuserstate
PromptShields.MacOS.MainApp.xcodeproj/xcuserdata/gabrielsabiescu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PromptShields.MacOS.MainApp.xcodeproj/xcuserdata/gabrielsabiescu.xcuserdatad/xcschemes/xcschememanagement.plist
PromptShields.MacOS.MainApp/Auth0.plist
PromptShields.MacOS.Widget.xcodeproj/project.xcworkspace/xcuserdata/gabrielsabiescu.xcuserdatad/UserInterfaceState.xcuserstate
PromptShields.MacOS.Widget.xcodeproj/project.xcworkspace/xcuserdata/gabrielsabiescu.xcuserdatad/UserInterfaceState.xcuserstate
